body {
  background-color: #cecece;
  
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_head, .text, h1 {
  color: rgb(218, 97, 88) !important;
}

.card {
 opacity: .9;
 background-color: #010002c9(0, 0, 0, 0.603);
 width: 500px ;
 padding: 0 60px;
 border-radius: 5px;
}

h1 {
 font-weight: 900;
 color: blueviolet;
 font-size: 50px;
 padding-bottom: 20px;
}

h4 {
  font-size: 15px;
}

.text {
  margin: 10px 0;
  font-size: 17px;
  font-weight: 800;
  color: #cecece;
}

.text2 {
  margin: 15px 0;
  font-size: 15px;
  font-weight: 800;
  color: #cecece;
  text-decoration: none;
}

input {
   width: 100%;
   padding: 5px;
   font-size: 20px;
   border: none;
   border-radius: 7px;
   outline: none;
}

.btn-submit {
 margin: 10px 0 ;
  width: 40%;
  color: #fff;
  background-color: rgb(218, 97, 88);
  font-size: 18px;
  font-weight: 800;
  border: none;
  border-radius: 12px;
  padding: 12px;
}