.navbar-container {
    display: flex;
    justify-content:  space-between;
    padding: 20px;
}

.navbar-container UL {
   display: flex;
   list-style: none; 
   justify-content: center;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
}

.nav .logo_container{
    margin-top: 5px;
}

.nav-color {
    background-color: rgb(218, 97, 88);
}


.item_text > a {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav_item {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.nav_item, .nav_link {
    color: white;
    text-decoration: none;
    font-size: medium;
    font-weight: 700;

}

.carrinho {
    color: rgb(218, 97, 88);
    text-decoration: none;
    font-size: medium;
    font-weight: 700;
    padding-right: 5px;
}

.nav .logo_nav {
    width: 50px;
    justify-content: center;
}

.position {
    padding-top: 25px;
}
.nav li  {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enter_btn { 
    padding: 7px;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    padding-right: 5px;
}

.login_btn {
    background-color: rgb(218, 97, 88);
    padding: 7px;
    color: #fff;
    text-decoration: none;
    border-radius: 35px;
    font-weight: 900;
    padding-right: 5px;
}

.main_section {
    height: calc(100vh - 220px);
    background: linear-gradient(rgba(255,255,255, .5), rgba(255,255,255, .5)), url("../img/index_back.jpg") no-repeat left top;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    flex-wrap: wrap;
}

.main_section > div h1{
    color: #fff !important;
    font-size: 45px;
    font-weight: 900;
}


.btn {
    padding: 10px;
    margin-top: 15px;
    width: 250px;
    font-size: 16px;
}

.ourServices {
    width: 100%;
    margin-top: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.about {
    margin-top: 30px;
    background-color: rgb(218, 97, 88);
    display: flex;
    flex-direction: column;
}

.about > h1 {
    text-align: center;
    padding: 20px;
}

.containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
    padding: 45px;
}

p{
    font-weight: 500;
}

.aboutLogo {
    height: 200px !important;
    padding-bottom: 20px;
}

.left {
    padding-left: 150px;
}

.right {
    padding-left: 100px;
}

footer {
    background-color: rgb(48, 48, 48);
    color: #fff;
    text-align: center;
    padding: 25px;
}

.navbar-icon {
 width: 45px;
 background-color: white;
 border-radius: 100%;
 padding: 7px; 
 margin: 5px 0 ;
}

#products {
    display: flex;
    margin: 0 30px;
    color: #000;
    text-decoration: none;
}

.product {
    flex-basis: 25%;
    margin: 10px 5px;
    border: 1px solid #cecece;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
